body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #0076d768;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #005bb5;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #0078d7;
    border-radius: 4px;
}
li:hover {
    background: #f1f1f1;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #0078d7;
    border-radius: 4px;
}
.note button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

.note button:hover {
    background-color: darkred;
}
